apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-app.fullname" . }}-postgres
  labels:
    {{- include "todo-app.selectorLabels" (dict "component" "postgres") | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    {{- include "todo-app.selectorLabels" (dict "component" "postgres") | nindent 4 }}